<!-- SIDEBAR -->
<div class="sidebar">
    <h2>🎓 Dashboard</h2>
    <a href="{{ url_for('home') }}" class="active"><i class="fa fa-chart-line"></i>Home</a>
    <a href="{{ url_for('students_page') }}"><i class="fa fa-user-graduate"></i>Students</a>
    <a href="{{ url_for('student_reports_page') }}"><i class="fa fa-file-alt"></i>Reports</a>
    <!--<a href="{{ url_for('settings_page') }}"><i class="fa fa-cog"></i>Settings</a>--->
    <a href="{{ url_for('user_management_page') }}"><i class="fa fa-users"></i>Users</a>
</div>
